.header {
    display: flex;
    align-items: center;
    height: 65px;
    background-color: black;
    color:white;
    padding: 20px;
    border-radius: 10px;
}

.header--img {
    height: 100%;
    margin-right: auto;
}

.header--title {
    font-size: 20px;
}
